#education {
    text-align: center;
    padding: 50px 15px 20px;
  }
  
  .education-block {
    max-width: 700px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }
  @media (max-width: 600px) {
    .education-block {
      font-size:small;
        width: 100%;
    }

}
  
  .education-block li {
    margin-bottom: 20px;
  }
  
  .education-block h1 {
    font-weight: 500;
  }
  
  .education-block h3 {
    font-weight: 500;
    color: rgb(55, 64, 84);
    margin: 0;
  }
  
  .education-block h4 {
    color: rgb(116, 128, 138);
    font-weight: 500;
    margin: 0 0 15px;
  }
  
  .education-block .education-date {
    color: rgb(116, 128, 138);
    font-size: 0.9em;
    float: right;
  }
  
  .education-card {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.087);
    box-shadow: 0 4px 8px rgba(46, 37, 72, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px ;
  }
  
  .education-card:hover {
    transform: scale(1.1);
    background-color: rgba(46, 37, 72, 0.2);
    box-shadow: 0 8px 16px 24px rgba(0, 0, 0, 0.3);
  }
  
  .education-block h3,
  .education-block h4,
  .education-block .education-date {
    color: white;
  }
  