header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: 800;
    margin-right: 20px;
}

.logo h2 {
    color: #00E8F8;
    text-decoration: none;
}

.anchor {
    @media screen and (max-width: 640px) {
        display: none;
        width: 100%;
    }
}


nav {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    letter-spacing: .7px;
    padding: 1rem;
    margin-right: 5px;
}

nav a.active,
nav a:hover {
    color: #00E8F8;
    border-radius: 1rem;
    transition: all.3s ease-in-out;
}

#click {
    display: none;
}

.menu i {
    color: #00E8F8;
}

.menu {
    display: none;
}
