.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(50, 103, 149);
}

.footer h2 {
    margin: 0;
}

@media (max-width: 600px) {
    .footer {
        width: 100%;
    }
}